.game-screen {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.start-button {
    font-size: 30px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: lightgreen;
}

.ad-container {
    position: absolute;
}

.x-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.ad-image {
    display: block;
    border: 1px solid #000;
    background-color: white;
}

.retry-button {
    font-size: 30px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: lightgreen;
}